body {
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    margin:0px;
}

.Ultratop {
    background-color: rgb(183, 234, 246);
    position: relative;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.Top_Cloud {
    position: relative;
    left: 400px;
    top: 50px;
}

.Bottom_Cloud {
    position: absolute;
    left: 350px;
    bottom: 300px;
}

a {
    color: #11999E;
}

.bio{
    width: 25%;
    margin:auto;
    font-size: 1rem;
    color:#40514E ;
}
p{
    line-height: 2;

}
hr {
    border-style: none;
    border-top-style: dotted;
    width: 8%;
    border-color: #c6d6d6;
    border-width: 5px;
}
.line{
    margin: 100px auto;
}
.line1{
    margin: 50px auto;
}

.skill-row {
    position: relative;
    width: 50%;
    margin: 50px auto;
    text-align: left;
}

.WebDevolpment-image {
    width: 20%;
    height: 20;
    ;
    float: left;
    margin-right: 30px;
}

.Python-Img {
    width: 25%;
    float: right;
    margin-left: 30px;
}
 

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}


a {
    color: #11999E;
    margin:50px 20px 10px 20px;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    
}

a:hover{
    color: #EAF6F6;
}


.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.contact-me {
    margin-bottom: 80px;
}
.invite{
    margin-bottom:50px
}